@model IEnumerable<ProjectTimeManagement.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Date</th>
        <th>Activity</th>
        <th>Duration</th>
        <th class="hidden-xs">Intensity</th>
        <th>&nbsp;</th>
    </tr>


</table>
